*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chess-board{
    margin: 1rem auto;
    width: 1400px;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1 .cell-1, .row-1 .cell-2, .row-1 .cell-3, .row-1 .cell-4, .row-1 .cell-5, .row-1 .cell-6, .row-1 .cell-7, .row-1 .cell-8,
.row-2 .cell-1, .row-2 .cell-2, .row-2 .cell-3, .row-2 .cell-4, .row-2 .cell-5, .row-2 .cell-6, .row-2 .cell-7, .row-2 .cell-8,
.row-3 .cell-1, .row-3 .cell-2, .row-3 .cell-3, .row-3 .cell-4, .row-3 .cell-5, .row-3 .cell-6, .row-3 .cell-7, .row-3 .cell-8,
.row-4 .cell-1, .row-4 .cell-2, .row-4 .cell-3, .row-4 .cell-4, .row-4 .cell-5, .row-4 .cell-6, .row-4 .cell-7, .row-4 .cell-8,
.row-5 .cell-1, .row-5 .cell-2, .row-5 .cell-3, .row-5 .cell-4, .row-5 .cell-5, .row-5 .cell-6, .row-5 .cell-7, .row-5 .cell-8,
.row-6 .cell-1, .row-6 .cell-2, .row-6 .cell-3, .row-6 .cell-4, .row-6 .cell-5, .row-6 .cell-6, .row-6 .cell-7, .row-6 .cell-8,
.row-7 .cell-1, .row-7 .cell-2, .row-7 .cell-3, .row-7 .cell-4, .row-7 .cell-5, .row-7 .cell-6, .row-7 .cell-7, .row-7 .cell-8,
.row-8 .cell-1, .row-8 .cell-2, .row-8 .cell-3, .row-8 .cell-4, .row-8 .cell-5, .row-8 .cell-6, .row-8 .cell-7, .row-8 .cell-8{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.black{
    background-color: black;
}

.cell-1, .cell-2, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}